name: Gradle Check

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron:  '0 0 * * 1,4'

jobs:
  check:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 12
      - uses: eskatos/gradle-command-action@v1
        with:
          arguments: check --stacktrace